<div id="scan" class="tabs-container">
    <div class="tabs">
        <div class="tab transparent" id="scan-back">

        </div>
        <div class="tab white-bg" id="scan-result">
            <button class="fab" id="close-span">
                <span class="icons">close</span>
            </button>
            <h1 class="header">Select one</h1>
            <div class="card-container" id="scan-result">
                <div class="card card-action round">
                    <button class="button primary round-left">
                        <h2>Family Guy</h2>
                    </button>
                </div>
                <div class="expandable-card">
                    <div class="card card-action side-button round">
                        <button class="button primary round-left">
                            <h2>Big Mouth</h2>
                        </button>
                        <button class="button secondary round-right">
                            <span class="icons">expand_more</span>
                        </button>
                    </div>
                    <div class="expandable round-top section-card">
                        <div class="section-header side-button">
                            <button class="button transparent">
                                <h2>Season 1</h2>
                                <span class="icons">expand_less</span>
                            </button>
                        </div>
                        <div class="expandee">
                            <div class="section-action">
                                <button class="button primary fill">
                                    <h2>Big Mouth Episode 1</h2>
                                </button>
                            </div>
                            <div class="section-action">
                                <button class="button primary fill">
                                    <h2>Big Mouth Episode 2</h2>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>