<div id="scan" class="tabs-container">
    <div class="tabs">
        <div class="tab transparent" id="scan-back">

        </div>
        <div class="tab white-bg" id="scan-result">
            <button class="fab" id="close-scan">
                <span class="icons">close</span>
            </button>
            <h1 class="header">Select one</h1>
            <div class="card-container" id="scan-result">
                
            </div>
            <div class="end"></div>
        </div>
    </div>
</div>