<div class="tab" id="movies">
    <h1 class="header">Open tabs</h1>
    <div class="card-container">
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p> - Something</p>
            </button>
            <button class="button secondary round-right">
                <span class="icons">close</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p> - Anohter</p>
            </button>
            <button class="button secondary round-right">
                <span class="icons">close</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p> - Anohter</p>
            </button>
            <button class="button secondary round-right">
                <span class="icons">close</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p> - Anohter</p>
            </button>
            <button class="button secondary round-right">
                <span class="icons">close</span>
            </button>
        </div>
    </div>
    <h1 class="header">Tabs</h1>
    <div class="card-container">
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
    </div>
    <h1 class="header">Tabs</h1>
    <div class="card-container">
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
        <div class="card card-action">
            <button class="button primary round-left">
                <h2>Netflix</h2>
                <p></p>
            </button>
            <button class="button terciary round-right">
                <span class="icons">search</span>
            </button>
        </div>
    </div>
</div>