#main-controls button span {
    font-family: 2.625rem;
}

#time-control div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

#time-control div button {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    margin-left: calc(var(--border-size) / 2);
}

#skip button {
    margin-left: calc(var(--border-size) / 2);
}

#skip {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.slider {
    width: 50%;
    height: calc(2.25rem / 2);
    outline: none;
    background: var(--font-dark);
}