<div class="tab" id="home">
    <button type="button" class="fab" id="scan-fab">
        <span class="icons">track_changes</span>
    </button>
    <h1 class="header">Binging now</h1>
    <div class="card-container">
        <div class="card card-action round" id="main-controls">
            <button class="button round-left primary">
                <span class="icons">fast_forward</span>
            </button>
            <button class="button secondary">
                <span class="icons">play_arrow</span>
            </button>
            <button class="button round-right primary">
                <span class="icons">fullscreen</span>
            </button>
        </div>
    </div>
    <div class="card-container section-container">
        <div class="card section-card round">
            <div class="section-header">
                <h2>Time</h2>
            </div>
            <div class="section-action section-margin" id="time-control">
                <p>12:00 / 50:00</p>
                <div>
                    <button class="round-button round-button-big">
                        <span class="icons">replay_10</span>
                    </button>
                    <button class="round-button round-button-big">
                        <span class="icons">forward_10</span>
                    </button>
                </div>
            </div>
            <div class="section-action section-margin" id="skip">
                <button class="button button-icon button-space round primary">
                    <span class="icons">skip_next</span>
                    <p>Skip</p>
                </button>
            </div>
        </div>
        <div class="card section-card round">
            <div class="section-header">
                <h2>Volume</h2>
            </div>
            <div class="section-action section-margin" id="volume-control">
                <input type="range" class="slider">
                <button class="button button-icon button-space round primary">
                    <span class="icons">volume_off</span>
                    <p>Mute</p>
                </button>
            </div>
        </div>
        <div class="card section-card round">
            <div class="section-header">
                <h2>Watching now</h2>
            </div>
            <div class="section-action" id="watching-now">
                <button class="button round-bottom primary fill">
                    <p>Big Mouth</p>
                    <p>S01E03</p>
                </button>
            </div>
        </div>
    </div>
    <div class="end"></div>
</div>