.tabs-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.tabs {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: overflow;
}

.tabs .transparent {
    height: 100vh;
}

.tabs .tab {
    max-width: 100vw;
    width: 100vw;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
}

.navbar {
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: center;
    z-index: 200;
    background-color: rgb(255, 255, 255);
}

.navbar-btn {
    width: 100%;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.navbar-btn {
    width: 100%;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.navbar-btn span {
    transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
}

.navbar-btn .button {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.active-tab span {
    font-size: 2rem;
    color: var(--primary);
    transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
}