<div id="search" class="tabs-container">
    <div class="tabs">
        <div class="tab transparent" id="search-back">

        </div>
        <div class="tab white-bg" id="search-page">
            <button class="fab" id="close-search">
                <span class="icons">close</span>
            </button>
            <h1 class="header">Search</h1>
            <div class="card-container" id="search-box">
                <div class="card section-card round">
                    <div class="section-action round-top side-button">
                        <input type="text" placeholder="Search shows, episodes..." class="primary" id="search-field">
                        <div class="fill-height" id="search-button">
                            <button class="button secondary fill">
                                <span class="icons">search</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="end"></div>
            <div class="fill-w">
                <p class="padding-left">Swipe left to close</p>
            </div>
        </div>
    </div>
</div>