<div id="control">
    <div id="control-card" class="mdc-elevation--z2">
        <div class="row" id="play-row">
            <div class="side-button" id="next-episode">
                <button class="mdc-icon-button icons">
                    skip_next
                </button>
            </div>
            <div id="play-pause">
                <button class="mdc-fab">
                    <span class="mdc-fab__icon icons">play_arrow</span>
                </button>
            </div>
            <div class="side-button" id="fullscreen">
                <button class="mdc-icon-button icons">
                    fullscreen
                </button>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row" id="time-row">
            <div id="time">
                <p id="time-left">00:12</p>
                <p> / </p>
                <p id="time-left">50:00</p>
            </div>
            <div id="skip">
                <button type="button" id="back-time" class="mdc-icon-button icons">
                    replay_10
                </button>
                <button type="button" id="forward-time" class="mdc-icon-button icons">
                    forward_10
                </button>
                <button type="button" id="skip-time" class="mdc-button">
                    <i class="icons mdc-button__icon" aria-hidden="true">fast_forward</i>
                    <span class="mdc-button__label">Skip</span>
                </button>
            </div>
        </div>
    </div>
    <h3 class="subtitle">Volume</h3>
    <div id="volume-control">
        <div id="volume-slider-container">
            <input type="range" min="0" max="100" value="50" id="volume-slider">
            <p id="volume-val">12</p>
        </div>
        <div id="mute">
            <button type="button" class="mdc-button">
                <i class="icons mdc-button__icon" aria-hidden="true">volume_off</i>
                <span class="mdc-button__label">Mute</span>
            </button>
        </div>
    </div>
</div>