#control {
    padding: var(--padding-size);
}

#control #control-card {
    padding: var(--padding-size);
    border-radius: 15px;
}

#control #control-card div {
    width: 100%;
}

#control #control-card .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divider {
    position: absolute;
    left: 30%;
    width: 40%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* MAIN ROW */
#control #control-card #play-row.row div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 2rem;
}

#control #control-card #play-row.row #play-pause {
    width: 50%;
}

#control #control-card #play-row.row .mdc-icon-button {
    font-size: 32px;
}

#control #control-card #play-row.row #play-pause button {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 4rem;
    height: 4rem;
    font-size: 32px;
}

/* SECONDARY ROWS */
#control #control-card #time-row.row #time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 25%;
}

#control #control-card #time-row.row #skip {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    padding-left: 5px;
}

#control #control-card #time-row.row #skip button {
    flex-basis: content;
}

/* VOLUME */
#control #volume-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#control #volume-control #volume-slider-container {
    width: 60%;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

#control #volume-control #volume-slider-container p {
    padding-left: 5px;
}

#control #volume-control #volume-slider-container #volume-slider {
    width: 80%;
    height: 25px;
    background: rgba(0, 0, 0, 0);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#control #volume-control #volume-slider-container #volume-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    outline: none;
    background: var(--mdc-theme-secondary);
    cursor: pointer;
}

#control #volume-control #volume-slider-container #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--mdc-theme-secondary);
    cursor: pointer;
}

#control #volume-control #mute {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}