<div class="tab" id="control-pad">
    <button class="fab" id="start-mouse-control">
        <span class="icons">gesture</span>
    </button>
    <h1 class="header">Control Pad</h1>
    <div class="card-container section-container" id="mouse-control">
        <div class="card section-card round">
            <div class="fill round-top primary">
                <canvas id="canvas" class="fill round-top"></canvas>
            </div>
            <div class="section-action">
                <button class="button button-space round-bottom-left secondary fill" id="mouse-left">
                    <p>LEFT</p>
                </button>
                <button class="button button-space round-bottom-right secondary fill" id="mouse-right">
                    <p>RIGHT</p>
                </button>
            </div>
        </div>
    </div>
    <div class="card-container section-container" id="keyboard-control">
        <div class="card section-card round">
            <div class="section-header">
                <h2>Type on computer</h2>
            </div>
            <div class="section-action">
                <input type="text" placeholder="Type in computer" class="primary" id="type-computer">
                <div class="side-button fill-height">
                    <button class="button secondary fill" id="input-delete">
                        <span class="icons">backspace</span>
                    </button>
                    <button class="button secondary fill" id="input-done">
                        <span class="icons">done</span>
                    </button>
                </div>
            </div>
            <div class="section-action section-margin">
                <p>Something will be here</p>
            </div>
        </div>
    </div>
    <div class="end">

    </div>
</div>