<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

    </div>

    <!-- WARNINGS -->
    <noscript>
        <strong>We are sorry to inform you that unfortunately the app has crashed due to the blocking of JS. Please enable JS to use the site properly.</strong>
    </noscript>
</body>
    <script src="static/libs/socketio.js"></script>
    <script src="static/libs/vue.js"></script>
    <script src="static/libs/libs.js"></script>
    <script src="static/engine/init.js"></script>
    <script src="static/engine/home.js"></script>
</html>