:root {
    --border-size: 1rem;
    --border-top-size: 0.5rem;
    --section-size: 2rem;
    --border-radius: 15px;
    --card-element-height: 3.375rem;
    --primary: #314DF9;
    --secondary: #FF016C;
    --terciary: #FFEB3B;
    --primary-bg: #ffffff;
    --secondary-bg: #FFFF72;
    --font-dark: #000000;
    --font-light: #ffffff;
}

* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-bg);
    overflow-x: hidden;
}

.end {
    width: 100%;
    height: 12rem;
}

/* SECTION HEADER */
h1 {
    font-size: 3rem;
    font-family: 'Title';
    margin: 0;
    padding: 0;
    padding-top: var(--section-size);
    padding-bottom: var(--section-size);
}

.header {
    width: calc(100vw - var(--border-size));
    height: auto;
    overflow-x: hidden;
    margin-top: var(--border-size);
    margin-left: var(--border-size);
}

/* SUBTITLE */
h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Roboto Bold';
}

.extra {
    font-family: 'Roboto';
}

/* PARAGRAPHS */
p {
    font-family: 'Roboto';
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
}

/* ROUND CORNERS COMBOS */
.round {
    border-radius: var(--border-radius);
}

.round-left {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.round-right {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.round-top {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.round-bottom {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* BACKGROUNDS FOR ELEMENTS */
.primary {
    background-color: var(--primary);
    color: var(--font-light);
}

.primary::-webkit-input-placeholder {
    color: var(--font-light);
    opacity: 1;
}

.primary::-moz-placeholder {
    color: var(--font-light);
    opacity: 1;
}

.primary:-ms-input-placeholder {
    color: var(--font-light);
    opacity: 1;
}

.primary::-ms-input-placeholder {
    color: var(--font-light);
    opacity: 1;
}

.primary::placeholder {
    color: var(--font-light);
    opacity: 1;
}

.primary:-ms-input-placeholder {
    color: var(--font-light);
}

.primary::-ms-input-placeholder {
    color: var(--font-light);
}

.secondary {
    background-color: var(--secondary);
    color: var(--font-dark);
}

.secondary::-webkit-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.secondary::-moz-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.secondary:-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.secondary::-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.secondary::placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.secondary:-ms-input-placeholder {
    color: var(--font-dark);
}

.secondary::-ms-input-placeholder {
    color: var(--font-dark);
}

.terciary {
    background-color: var(--terciary);
    color: var(--font-dark);
}

.terciary::-webkit-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.terciary::-moz-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.terciary:-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.terciary::-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.terciary::placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.terciary:-ms-input-placeholder {
    color: var(--font-dark);
}

.terciary::-ms-input-placeholder {
    color: var(--font-dark);
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.transparent::-webkit-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.transparent::-moz-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.transparent:-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.transparent::-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.transparent::placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.transparent:-ms-input-placeholder {
    color: var(--font-dark);
}

.transparent::-ms-input-placeholder {
    color: var(--font-dark);
}

.dark-font {
    color: var(--font-dark);
}

.dark-font::-webkit-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.dark-font::-moz-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.dark-font:-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.dark-font::-ms-input-placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.dark-font::placeholder {
    color: var(--font-dark);
    opacity: 1;
}

.dark-font:-ms-input-placeholder {
    color: var(--font-dark);
}

.dark-font::-ms-input-placeholder {
    color: var(--font-dark);
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.error {
    background-color: #B00020;
    color: var(--font-light);
}

/* PADDING */
.padding-left {
    padding-left: var(--border-size);
}

/* CARDS */
.card-container {
    width: 100%;
    height: auto;
    padding: var(--border-size);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: start;
}

.card {
    width: 100%;
    margin-bottom: var(--border-size);
}

.card-action {
    height: var(--card-element-height);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.card-action button {
    height: 100%;
    width: 100%;
}

.section-container {
    padding-top: 0;
    padding-bottom: 0;
}

.section-card {
    background-color: var(--secondary-bg);
    color: var(--font-dark);
}

.section-card .section-header {
    width: 100%;
    height: var(--card-element-height);
    margin-top: var(--border-top-size);
    padding-left: var(--border-size);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.section-card .section-action {
    min-height: var(--card-element-height);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.section-card .section-action .button {
    height: 2.25rem;
}

.section-card .section-action .fill {
    height: var(--card-element-height);
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.section-margin {
    min-height: calc(var(--card-element-height) - var(--border-size));
    margin-left: var(--border-size);
    margin-right: var(--border-size);
    margin-bottom: var(--border-top-size);
}

.side-button {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.side-button .button {
    height: 100%;
    width: 3.5rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.side-button .primary {
    width: calc(100% - 3.5rem);
}

.expandable-card {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
}

.expandable-card .button
{
    justify-content: flex-start;
}

.expandable .section-header {
    width: 100%;
    height: var(--card-element-height);
    margin-top: 0;
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.expandable.section-card {
    background-color: var(--transparent);
    color: var(--font-dark);
}

/* INPUT type=text */
input[type=text] {
    min-height: var(--card-element-height);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: var(--border-radius);
    padding-right: var(--border-radius);
    border: 0;
    font-family: 'Roboto';
    font-size: 1.125rem;
}

/* BUTTONS */
.button {
    min-height: 2.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: var(--border-radius);
    padding-right: var(--border-radius);
    border: 0;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
}

.button span {
    height: 100%;
}

.button p {
    height: 100%;
}

.button-icon p {
    min-width: 70%;
    padding-left: 0.25rem;
}

.button-space {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

/* ROUND BUTTON */
.round-button {
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.round-button span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.round-button-big {
    height: var(--card-element-height);
    width: var(--card-element-height);
}

.round-button-small {
    height: 2.25rem;
    width: 2.25rem;
}

/* FLOATING ACTION BUTTON */
.fab {
    position: fixed;
    top: calc(100vh - 12rem);
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 200;
    border: 0;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--font-dark);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition-duration: 0.75s;
    -ms-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
}

.fab span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    transition-duration: 0.75s;
    -ms-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
}

/* NOTIFICATIONS */
#notification-container {
    position: absolute;
    width: calc(100vw - 2rem);
    height: var(--card-element-height);
    bottom: 1.5rem;
    left: 1rem;
    z-index: 0;
}

.notification {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.notification p {
    height: 100%;
    width: 100%;
    max-width: calc(100% - 3.5rem);
    padding-left: var(--border-size);
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

/* APP ELEMENT SYTLES */
#app {
    overflow-x:auto;
}

@media only screen and (max-width: 900px) {
    #app {
        overflow-x: hidden;
    }
}

/* KEEP AT THE BOTTOM */
.hidden {
    display: none;
    transition-duration: 0.75s;
    -ms-transition-duration: 0.75s;
    -webkit-transition-duration: 0.75s;
}

/* HEIGHT AND WIDTH */
.fill {
    width: 100%;
    height: 100%;
}

.fill-w {
    width: 100%;
}

.fill-h {
    height: 100%;
}
